body {
  padding: 0;
  margin: 0;
  font-family: 'TextFont', sans-serif;
}

@font-face {
  font-family: 'TextFont';
  src: url('../fonts/LemonMilkMedium-mLZYV.otf');
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  margin-left: -200px;
  margin-top: -300px;
}

@keyframes calculations {
  0%   {color: #4BD8AA;}
  25%  {color: #9F43D0;}
  50%  {color: #F47879;}
  75%  {color: #F59C04;}
  100% {color: #000000;}
}

.history {

}

.history-display {
  width: 100%;
  height: 100%;
  animation: calculations 1s infinite alternate;
}